@value --black: #000000;
@value --white: #ffffff;
@value --gray: #656565;


.navbar{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #E4E4E4;
}

.page_body{
  /* background-color: red; */
  padding: 3rem 5rem;
}

/* featured post*/
.featured_post_container{
  
}

.add_to_cart_btn{
  height: 47px;
  width: 257.0000305175781px;  
  border-radius: 0px;
  text-transform: uppercase;
  background-color: --black;
  color: --white;
  border: 0;
  font-family: Archivo;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 25px;
  letter-spacing: 0.07em;
}

.flex_title_content{
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
  align-items: center;
}

.title{
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 35px;

  color: #000000;
}

.banner{
  height: 553px;
  width: 100%;
  border-radius: 0px;
  background-color: blue;
  position: relative;
  background-size: cover;
}

.tag{
  height: 67px;
  width: 271.951416015625px;
  border-radius: 0px;
  color: --black;
  background-color: --white;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  position: absolute;
  bottom: 0;
}

.flex_about_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.about_text{
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: --black;
}

.sub_title{
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: --gray;
}

.description{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: --gray;
  margin-top: 1rem;
}

.also_bought_images{
  height: 147px;
  width: 117px;
  border-radius: 0px;
}


.flex_desc{
  display: grid;
  grid-template-columns: 4fr 4fr;
  grid-gap: 2rem;
}

.also_bought_images_grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr 3fr 3fr;
  width: 70%;
  margin-left: auto;
  height: 147px;
}
















@media (max-width: 700px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .page_body{
    background-color: red;
    padding: 1rem 1rem;
  }
}


@media (max-width: 900px) {
  
}
